apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: project
  name: logoutput-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logoutput
  template:
    metadata:
      labels:
        app: logoutput
    spec:
      containers:
        - name: log-output
          image: log-output:2.4
          ports:
            - containerPort: 3000

